$namespace-base: #{$namespace}-button;

.#{$namespace-base} {
	position: relative;
	padding: 8px 15px;
	color: var(--#{$namespace}-font-color);
	line-height: 1rem;
	user-select: none;
	white-space: nowrap;
	border: 1px solid transparent;
	transition: border 0.3s, color 0.3s, background-color 0.3s;
	cursor: pointer;

	&-text {
		vertical-align: middle;
	}

	> .#{$namespace}-icon {
		fill: var(--#{$namespace}-font-color);
	}

	// type
	&-type-default {
		background-color: var(--#{$namespace}-theme-color);
	}
	&-type-primary {
		color: var(--#{$namespace}-white-color);
		background-color: var(--#{$namespace}-primary-color);
		> .#{$namespace}-icon {
			fill: var(--#{$namespace}-white-color);
		}
	}
	&-type-dashed,
	&-type-solid {
		background-color: var(--#{$namespace}-theme-color);
		border-color: var(--#{$namespace}-gray-color-30);
	}
	&-type-dashed {
		border-style: dashed;
	}
	&-type-solid {
		border-style: solid;
	}

	// shape
	&-shape-default,
	&-shape-default::after {
		border-radius: var(--#{$namespace}-radius-base);
	}
	&-shape-square,
	&-shape-square::after {
		border-radius: var(--#{$namespace}-radius-square);
	}
	&-shape-round,
	&-shape-round::after {
		border-radius: 16px;
	}

	// long
	&-long {
		width: 100%;
	}

	// loading | disabled
	&-loading,
	&-disabled {
		&.#{$namespace-base}-type-primary {
			color: var(--#{$namespace}-white-color-80);
			background-color: var(--#{$namespace}-primary-color-60);
			> .#{$namespace}-icon {
				fill: var(--#{$namespace}-white-color-80);
			}
		}
		&.#{$namespace-base}-type-default,
		&.#{$namespace-base}-type-dashed,
		&.#{$namespace-base}-type-solid {
			color: var(--#{$namespace}-gray-color-20);
			border-color: var(--#{$namespace}-gray-color-20);
			> .#{$namespace}-icon {
				fill: var(--#{$namespace}-gray-color-20);
			}
		}
	}
	&-loading {
		cursor: default;
	}
	&-disabled {
		cursor: not-allowed;
	}
}
