$prefix-base: #{$prefix}-button;

.#{$prefix-base} {
	padding: 7px 15px;
	color: $font-color;
	border: 1px solid transparent;
	transition: box-shadow 0.3s, border 0.3s, color 0.3s, background-color 0.3s;
	cursor: pointer;

	// type
	&-type-default {
		background-color: $theme;
	}
	&-type-primary {
		color: $white-color;
		background-color: $primary-color;
	}
	&-type-dashed,
	&-type-solid {
		background-color: $theme;
		border-color: $info-dark-color-80;
	}
	&-type-dashed {
		border-style: dashed;
	}
	&-type-solid {
		border-style: solid;
	}

	// shape
	&-shape-default {
		border-radius: $radius-base;
	}
	&-shape-square {
		border-radius: $radius-square;
	}
	&-shape-round {
		border-radius: 16px;
	}

	// long
	&-long {
		width: 100%;
	}

	// loading | disabled
	&-loading,
	&-disabled {
		&.#{$prefix-base}-type-primary {
			color: $info-color;
			background-color: $primary-color-60;
		}
		&.#{$prefix-base}-type-default,
		&.#{$prefix-base}-type-dashed,
		&.#{$prefix-base}-type-solid {
			color: if($theme ==$light, $info-dark-color-80, $info-dark-color-30);
			border-color: if($theme ==$light, $info-dark-color-90, $info-dark-color-30);
		}
	}
	&-loading {
		cursor: default;
	}
	&-disabled {
		cursor: not-allowed;
	}
}
