$namespace-base: #{$namespace}-stepper;

.#{$namespace-base} {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--#{$namespace}-theme-color);
	transition: box-shadow 0.3s;

	&,
	&::after,
	&::before {
		border-radius: var(--#{$namespace}-radius-base);
	}

	&-minus,
	&-push {
		box-sizing: border-box;
		height: var(--#{$namespace-base}-height);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		> .#{$namespace}-icon {
			user-select: none;
			&[data-type='minus'] {
				margin-right: -2px;
			}
			&[data-type='push'] {
				margin-left: -2px;
			}
		}
		&[data-disabled='true'] {
			color: var(--#{$namespace}-gray-color-40);
			cursor: not-allowed;
			> .#{$namespace}-icon {
				fill: var(--#{$namespace}-gray-color-40);
			}
		}
		&[data-disabled='false'] {
			color: var(--#{$namespace}-font-color);
			> .#{$namespace}-icon {
				fill: var(--#{$namespace}-font-color);
			}
		}
	}
	&-minus {
		width: var(--#{$namespace-base}-height);
	}
	&-push {
		width: var(--#{$namespace-base}-height);
	}
	&-input {
		input {
			&[disabled] {
				color: var(--#{$namespace}-gray-color-40);
			}
			box-sizing: border-box;
			width: var(--#{$namespace-base}-input-width);
			height: var(--#{$namespace-base}-height);
			text-align: center;
			border: none;
			outline: none;
			font-size: 18px;
			line-height: var(--#{$namespace-base}-height);
			color: var(--#{$namespace}-font-color);
			background-color: var(--#{$namespace}-theme-color);
			border-left: 1px solid var(--#{$namespace}-gray-color-10);
			border-right: 1px solid var(--#{$namespace}-gray-color-10);
		}
	}
}
