$namespace-base: #{$namespace}-divider;

.#{$namespace-base} {
	display: flex;
	margin: 20px 0;
	height: 20px;
	width: 100%;
	line-height: 20px;

	> div {
		padding: 0 16px;
		font-size: 16px;
		font-weight: 600;
	}

	&::before,
	&::after {
		content: '';
		width: 50%;
		transform: translateY(50%);
		border-top-width: 1px;
		border-top-color: var(--#{$namespace}-gray-color-30);
		border-top-style: solid;
	}

	&-dashed {
		&::before,
		&::after {
			border-top-style: dashed;
		}
	}

	&-align-left {
		text-align: left;

		&::before {
			width: 5%;
		}
		&::after {
			width: 95%;
		}
	}

	&-align-right {
		text-align: right;

		&::before {
			width: 95%;
		}
		&::after {
			width: 5%;
		}
	}

	&-align-center {
		text-align: center;
	}

	&-vertical {
		position: relative;
		top: -0.06em;
		bottom: 0;
		margin: 0 8px;
		display: inline-block;
		height: 0.9em;
		width: 1px;
		vertical-align: middle;
		background-color: var(--#{$namespace}-gray-color-30);
	}
}
