$namespace-base: #{$namespace}-image;

.#{$namespace-base} {
	position: relative;
	display: inline-block;
	width: var(--#{$namespace-base}-width);
	height: var(--#{$namespace-base}-height);
	transition: box-shadow 0.3s;

	&,
	&::after {
		border-radius: var(--#{$namespace}-radius-base);
	}

	&-img {
		object-fit: var(--#{$namespace-base}-fit);
		vertical-align: middle;
		width: 100%;
		height: 100%;
		border-radius: var(--#{$namespace}-radius-base);
		border-style: none;
		&-failed {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			background: var(--#{$namespace}-white-color-10);
			border-radius: var(--#{$namespace}-radius-base);
			border: 1px solid var(--#{$namespace}-gray-color-30);
		}
	}

	&-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1rem;
		color: var(--#{$namespace}-white-color);
		user-select: none;
		border-radius: var(--#{$namespace}-radius-base);
		background: #00000066;
		transition: opacity 0.3s;
		cursor: pointer;
		opacity: 0;
		&:hover {
			opacity: 1;
		}
		&-text {
			> span {
				vertical-align: middle;
				padding-left: 2px;
				flex-wrap: wrap;
				user-select: none;
			}
		}
	}
}
