$namespace-base: #{$namespace}-link;

.#{$namespace-base} {
	margin-right: 8px;
	color: var(--#{$namespace}-primary-color);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border 0.3s, color 0.3s;
	line-height: 20px;

	&:hover {
		color: var(--#{$namespace}-primary-secondary-color-40);
	}

	&-underline:hover {
		border-color: var(--#{$namespace}-primary-secondary-color-40);
	}

	&-disabled {
		color: var(--#{$namespace}-primary-color-60);

		&:hover {
			cursor: not-allowed;
			color: var(--#{$namespace}-primary-color-60);
			border-color: transparent;
		}
	}
}
