$namespace-base: #{$namespace}-menu;

.#{$namespace-base} {
	overflow: hidden;
	position: fixed;
	box-sizing: border-box;
	display: flex;
	background-color: var(--#{$namespace-base}-color);
	backdrop-filter: blur(var(--#{$namespace-base}-blur));
	z-index: var(--#{$namespace-base}-zindex);
	transition: width 0.3s;
	transform: translateZ(0);
	width: var(--#{$namespace-base}-width);
	height: var(--#{$namespace-base}-height);

	&-mode-horizontal {
		align-items: center;
		justify-content: flex-end;
		border-bottom: 1px solid var(--#{$namespace}-gray-color-10);
	}
	&-mode-vertical {
		flex-direction: column;
		align-items: center;
		border-right: 1px solid var(--#{$namespace}-gray-color-10);
	}

	&-collapse {
		align-items: flex-start;
	}
}
