$namespace-base: #{$namespace}-menu-item;

.#{$namespace-base} {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 6px;
	transition: color 0.3s, border-bottom-color 0.3s, background-color 0.3s, fill 0.3s;
	fill: var(--#{$namespace}-gray-color-20);
	cursor: pointer;
	&:hover {
		color: var(--#{$namespace}-primary-color);
		fill: var(--#{$namespace}-primary-color);
		background-color: var(--#{$namespace-base}-hover-color);
	}

	&-mode-horizontal {
		padding: 0 12px;
		line-height: calc(var(--#{$namespace}-menu-height) - 3px);
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom-color: var(--#{$namespace}-primary-color-50);
		}
	}

	&-mode-vertical {
		justify-content: center;
		padding: 12px 0;
		line-height: 4em;
		height: 4em;
		width: 100%;

		&.#{$namespace}-menu-item-collapse {
			padding: 12px 20px;
			justify-content: flex-start;
		}
	}

	&[data-selected='true'] {
		fill: var(--#{$namespace}-primary-color);
		color: var(--#{$namespace}-primary-color);
		border-bottom-color: var(--#{$namespace}-primary-color);
	}

	&-icon {
		display: inline-flex;
	}
}
