$namespace-base: #{$namespace}-menu;

.#{$namespace-base} {
	position: fixed;
	background-color: var(--#{$namespace-base}-color);
	backdrop-filter: blur(var(--#{$namespace-base}-blur));
	z-index: var(--#{$namespace-base}-zindex);
	transition: width 0.3s;
	transform: translateZ(0);
	width: var(--#{$namespace-base}-width);
	height: var(--#{$namespace-base}-height);
	&-mode-horizontal {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-bottom: 1px solid var(--#{$namespace}-gray-color-10);
	}
	&-mode-vertical {
		border-right: 1px solid var(--#{$namespace}-gray-color-10);
	}
}
