:root {
	--red-1: #fdddd1;
	--red-2: #fcb4a4;
	--red-3: #f68175;
	--red-4: #ed5252;
	--red-5: #e21d2e;
	--red-6: #c21533;
	--red-7: #a20e36;
	--red-8: #830934;
	--green-1: #c9fbd2;
	--green-2: #94f7b0;
	--green-3: #5de992;
	--green-4: #34d381;
	--green-5: #00b66a;
	--green-6: #009c6a;
	--green-7: #008366;
	--green-8: #00695d;
	--blue-1: #ccefff;
	--blue-2: #99dbff;
	--blue-3: #66c1ff;
	--blue-4: #3fa8ff;
	--blue-5: #007fff;
	--blue-6: #0062db;
	--blue-7: #0049b7;
	--blue-8: #003393;
	--yellow-1: #fef2cb;
	--yellow-2: #fee298;
	--yellow-3: #fccd65;
	--yellow-4: #fab83e;
	--yellow-5: #f79600;
	--yellow-6: #d47800;
	--yellow-7: #b15d00;
	--yellow-8: #8f4500;
	--gray-1: #fefefe;
	--gray-2: #eceff2;
	--gray-3: #d1d5da;
	--black-1: #454545;
	--black-2: #363636;
	--black-3: #262626;
	--black: #181818;
	--white: #ffffff;
}