:root {
    --red: #c21533;
    --green: #00b66a;
    --blue: #007fff;
    --blue-1: #00b4ff;
    --yellow: #f79600;
    --gray: #eceff2;
    --black: #181818;
    --white: #ffffff;
    --light: #ffffff;
    --dark: #22272e;
}
