$prefix: me;

$radius-base: 6px;
$radius-square: 2px;
$font-size: 14px;
$blur-base: 12px;
$line-height: 1.5715;

$font-color: if($theme ==$light, $font-dark-color, $font-light-color);
$gray-color: if($theme ==$light, $info-dark-color-90, $info-dark-color-20);