// 📦️ 项目图标均来自 iconfont - 阿里巴巴矢量图标库，更多图标请访问 http://www.iconfont.cn/
// 📦️ The icons of this project are all from iconfont - Alibaba vector icon library, for more icons, please visit http://www.iconfont.cn

@font-face {
	font-family: 'iconfont'; /* Project id 3788332 */
	src: url('//at.alicdn.com/t/c/font_3788332_2ves02q44s3.woff2?t=1674976509186') format('woff2'),
		url('//at.alicdn.com/t/c/font_3788332_2ves02q44s3.woff?t=1674976509186') format('woff'),
		url('//at.alicdn.com/t/c/font_3788332_2ves02q44s3.ttf?t=1674976509186') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}
@font-face {
	font-family: 'iconfont'; /* Project id 3788332 */
	src: url('//at.alicdn.com/t/c/font_3788332_uasqdfuvq3t.woff2?t=1675674610180') format('woff2'),
		url('//at.alicdn.com/t/c/font_3788332_uasqdfuvq3t.woff?t=1675674610180') format('woff'),
		url('//at.alicdn.com/t/c/font_3788332_uasqdfuvq3t.ttf?t=1675674610180') format('truetype');
}

.icon-full-screen:before {
	content: '\e63d';
}

.icon-enlarge:before {
	content: '\e63e';
}

.icon-rotation-right:before {
	content: '\e63f';
}

.icon-shrink:before {
	content: '\e640';
}

.icon-rotation-left:before {
	content: '\e641';
}

.icon-image-failed:before {
	content: '\e63c';
}

.icon-eye:before {
	content: '\e6ac';
}

.icon-image:before {
	content: '\e63b';
}

.icon-search:before {
	content: '\e62e';
}

.icon-arrow-right:before {
	content: '\e62f';
}

.icon-arrow-down:before {
	content: '\e630';
}

.icon-arrow-left:before {
	content: '\e631';
}

.icon-arrow-up:before {
	content: '\e632';
}

.icon-selected:before {
	content: '\e633';
}

.icon-unselected:before {
	content: '\e634';
}

.icon-exclamation-circle:before {
	content: '\e635';
}

.icon-address:before {
	content: '\e636';
}

.icon-issues:before {
	content: '\e637';
}

.icon-menu:before {
	content: '\e638';
}

.icon-collection-solid:before {
	content: '\e639';
}

.icon-collection-hollow:before {
	content: '\e63a';
}

.icon-loading:before {
	content: '\e60b';
}
