$namespace-base: #{$namespace}-timeline-item;

.#{$namespace-base} {
	position: relative;
	&-icon {
		height: 100%;
		top: -2px;
		position: absolute;
	}

	.#{$namespace}-icon {
		fill: var(--#{$namespace-base}-color);
	}

	&:not(:last-child) &-icon::after {
		content: '';
		margin: -1px auto 0 auto;
		display: block;
		width: 1px;
		height: calc(100% - 1em);
		background-color: var(--#{$namespace}-gray-color-10);
	}

	&-container {
		padding: 0 30px 30px 30px;
	}

	&-title {
		font-weight: 700;
		color: var(--#{$namespace-base}-color);
		margin-bottom: 12px;
	}
}
