$namespace-base: #{$namespace}-timeline-item;

.#{$namespace-base} {
	position: relative;
	&-icon {
		height: 100%;
		top: 0;
		position: absolute;
		> .#{$namespace}-icon {
			background-color: var(--#{$namespace}-theme-color);
			color: var(--#{$namespace-base}-color);
		}
	}

	&:not(:last-child) &-icon > .#{$namespace}-icon::after {
		content: '';
		margin: 0 auto;
		display: block;
		width: 1px;
		height: 100%;
		background-color: var(--#{$namespace}-gray-color-30);
	}

	&-container {
		padding: 0 30px 30px 30px;
	}

	&-title {
		padding-top: 2px;
		font-weight: 700;
		color: var(--#{$namespace-base}-color);
		margin-bottom: 12px;
	}
}
