// TODO: 👻 Me Sass Color

$primary-color: #1088ff;
$secondary-color: #00ddff;
$danger-color: #c21533;
$success-color: #00b66a;
$warning-color: #f79600;
$info-color: #606266;
$black-color: #000000;
$white-color: #ffffff;
