@import './color.scss';

.container {
	> .header {
		padding: 50px 50px 30px 50px;
		.title {
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 12px;
		}
		.desc {
			font-size: 14px;
			color: $info-color;
			display: inline-block;
		}
		> .btn {
			float: right;
		}
	}
}
