html,
body,
div,
a,
p,
span,
ol,
ul,
li,
table,
th,
tr,
td,
button,
img,
video,
i,
em,
input,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

body {
	background-color: $theme;
	color: $reverse-theme;
}
