html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	color: $font-color;
	font-size: $font-size;
	background-color: $theme;
}

div {
	box-sizing: border-box;
}

li {
	list-style: none;
}

img {
	vertical-align: middle;
	border-style: none;
}

.shadow {
	box-shadow: -2px -2px 4px 2px if($theme ==$light, $white-color, $info-dark-color-20),
		2px 2px 4px 2px if($theme ==$light, $info-dark-color-70, $black-color);
}
