$prefix-base: #{$prefix}-icon;

.#{$prefix-base} {
	font-size: var(--#{$prefix-base}-size);
	color: var(--#{$prefix-base}-color);
	line-height: var(--#{$prefix-base}-line-height);
	vertical-align: middle;
}
