$namespace-base: #{$namespace}-icon;

.#{$namespace-base} {
	font-size: var(--#{$namespace-base}-size);
	color: var(--#{$namespace-base}-color);
	line-height: var(--#{$namespace-base}-line-height);
	vertical-align: middle;
}
