@font-face {
  font-family: "iconfont"; /* Project id 3788332 */
  src: url('iconfont.woff2?t=1678174430741') format('woff2'),
       url('iconfont.woff?t=1678174430741') format('woff'),
       url('iconfont.ttf?t=1678174430741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmarks-solid:before {
  content: "\e64c";
}

.icon-bookmarks-linear:before {
  content: "\e64d";
}

.icon-bulb:before {
  content: "\e64e";
}

.icon-tag-linear:before {
  content: "\e64f";
}

.icon-code-linear:before {
  content: "\e650";
}

.icon-tag-solid:before {
  content: "\e651";
}

.icon-file:before {
  content: "\e652";
}

.icon-copy:before {
  content: "\e653";
}

.icon-paste:before {
  content: "\e654";
}

.icon-sun:before {
  content: "\e64a";
}

.icon-moon:before {
  content: "\e64b";
}

.icon-collection-solid:before {
  content: "\e63e";
}

.icon-collection-linear:before {
  content: "\e640";
}

.icon-zoom-out:before {
  content: "\e639";
}

.icon-zoom-in:before {
  content: "\e63a";
}

.icon-loading:before {
  content: "\e649";
}

.icon-arrow-up-solid:before {
  content: "\e645";
}

.icon-arrow-left-solid:before {
  content: "\e646";
}

.icon-arrow-right-solid:before {
  content: "\e647";
}

.icon-arrow-down-solid:before {
  content: "\e648";
}

.icon-push:before {
  content: "\e642";
}

.icon-close:before {
  content: "\e643";
}

.icon-minus:before {
  content: "\e644";
}

.icon-full-screen:before {
  content: "\e63d";
}

.icon-rotate-right:before {
  content: "\e63f";
}

.icon-rotate-left:before {
  content: "\e641";
}

.icon-image-failed:before {
  content: "\e63c";
}

.icon-eye:before {
  content: "\e6ac";
}

.icon-image:before {
  content: "\e63b";
}

.icon-search:before {
  content: "\e62e";
}

.icon-arrow-right:before {
  content: "\e62f";
}

.icon-arrow-down:before {
  content: "\e630";
}

.icon-arrow-left:before {
  content: "\e631";
}

.icon-arrow-up:before {
  content: "\e632";
}

.icon-selected:before {
  content: "\e633";
}

.icon-unselected:before {
  content: "\e634";
}

.icon-exclamation-circle:before {
  content: "\e635";
}

.icon-address:before {
  content: "\e636";
}

.icon-issues:before {
  content: "\e637";
}

.icon-menu:before {
  content: "\e638";
}

