$prefix-base: #{$prefix}-tag;

.#{$prefix-base} {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	height: 24px;
	padding: 0 8px;
	vertical-align: middle;
	color: var(--#{$prefix-base}-color);
	font-weight: 500;
	font-size: 12px;
	vertical-align: middle;
	border-radius: $radius-base;
	white-space: nowrap;
	text-overflow: ellipsis;
	&[data-color='red'] {
		background-color: #ffece8;
	}
	&[data-color='orangered'] {
		background-color: #fff3e8;
	}
	&[data-color='orange'] {
		background-color: #fff7e8;
	}
	&[data-color='gold'] {
		background-color: #fffce8;
	}
	&[data-color='lime'] {
		background-color: #fcffe8;
	}
	&[data-color='green'] {
		background-color: #e8ffea;
	}
	&[data-color='cyan'] {
		background-color: #e8fffb;
	}
	&[data-color='blue'] {
		background-color: #e8f7ff;
	}
	&[data-color='arcoblue'] {
		background-color: #e8f3ff;
	}
	&[data-color='purple'] {
		background-color: #f5e8ff;
	}
	&[data-color='pinkpurple'] {
		background-color: #ffe8fb;
	}
	&[data-color='magenta'] {
		background-color: #ffe8f1;
	}
	&[data-color='gray'] {
		background-color: #f2f3f5;
	}
}
