@import './iconfont.scss';

// TODO: 👻 Me Sass Color
$color-primary: #1088ff;
$color-secondary: #00ddff;
$color-danger: #c21533;
$color-success: #00b66a;
$color-warning: #f79600;
$color-text: #272b32;
