$prefix-base: #{$prefix}-image;

.#{$prefix-base} {
	position: relative;
	display: inline-block;
	border-radius: $radius-square;
	width: var(--#{$prefix-base}-width);
	height: var(--#{$prefix-base}-height);
	transition: box-shadow 0.3s;

	&:not(.#{$prefix-base}[data-status='true']):hover {
		box-shadow: -2px -2px 4px 2px if($theme ==$light, $white-color, $info-dark-color-20),
			2px 2px 4px 2px if($theme ==$light, $info-dark-color-70, $black-color);
	}

	&-img {
		object-fit: var(--#{$prefix-base}-fit);
		vertical-align: middle;
		width: 100%;
		height: 100%;
		border-radius: $radius-square;
		border-style: none;
		&-failed {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			background: $info-color;
			border-radius: $radius-square;
			border: 1px solid $info-dark-color-90;
		}
	}

	&-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1rem;
		color: $light;
		user-select: none;
		border-radius: $radius-square;
		background: #00000066;
		transition: opacity 0.3s;
		cursor: pointer;
		opacity: 0;
		&:hover {
			opacity: 1;
		}
		&-text {
			> span {
				vertical-align: middle;
				padding-left: 2px;
				flex-wrap: wrap;
				user-select: none;
			}
		}
	}
}
