$prefix-base: #{$prefix}-image;

.#{$prefix-base} {
	position: relative;
	border-radius: $radius-square;
	width: var(--#{$prefix-base}-width);
	height: var(--#{$prefix-base}-height);

	&-img {
		object-fit: var(--#{$prefix-base}-fit);
		vertical-align: middle;
		width: 100%;
		height: 100%;
		border-radius: $radius-square;
		border-style: none;
		&-failed {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background: $primary-color-90;
			border-radius: $radius-square;
			color: mix($info-base, $dark, 50%);
			> .iconfont {
				font-size: calc(min(var(--#{$prefix-base}-width), var(--#{$prefix-base}-height)) / 4);
			}
		}
	}

	&-mask,
	&-mask-slot {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $light;
		border-radius: $radius-square;
		transition: opacity 0.3s;
		cursor: pointer;
		opacity: 0;
		&:hover {
			opacity: 1;
		}
		&-text {
			text-align: center;
			font-size: 14px;
			> span {
				vertical-align: middle;
				padding-left: 2px;
				flex-wrap: wrap;
			}
		}
	}
	&-mask {
		background: rgba(0, 0, 0, 0.5);
	}
}
