$prefix-base: #{$prefix}-image;

.#{$prefix-base} {
	position: relative;
	display: inline-block;
	border-radius: $radius-square;
	width: var(--#{$prefix-base}-width);
	height: var(--#{$prefix-base}-height);

	&-img {
		object-fit: var(--#{$prefix-base}-fit);
		vertical-align: middle;
		width: 100%;
		height: 100%;
		border-radius: $radius-square;
		border-style: none;
		&-failed {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background: $info-color;
			border-radius: $radius-square;
			color: $info-dark-color-50;
			> .iconfont {
				font-size: calc(min(var(--#{$prefix-base}-width), var(--#{$prefix-base}-height)) / 4);
			}
		}
	}

	&-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1rem;
		color: $light;
		user-select: none;
		border-radius: $radius-square;
		background: #0000007f;
		transition: opacity 0.3s;
		cursor: pointer;
		opacity: 0;
		&:hover {
			opacity: 1;
		}
		&-text {
			> span {
				vertical-align: middle;
				padding-left: 2px;
				flex-wrap: wrap;
				user-select: none;
			}
		}
	}
}
