:root {
	--#{$namespace}-radius-base: 6px;
	--#{$namespace}-radius-round: 12px;
	--#{$namespace}-radius-square: 2px;
	--#{$namespace}-font-size: 14px;
	--#{$namespace}-blur-base: 12px;
	--#{$namespace}-line-height: 1.5715;

	color: var(--#{$namespace}-font-color);
	font-size: var(--#{$namespace}-font-size);
	background-color: var(--#{$namespace}-theme-color);
}

html,
body,
ul {
	margin: 0;
	padding: 0;
}

div {
	box-sizing: border-box;
}

li {
	list-style: none;
}

img {
	vertical-align: middle;
	border-style: none;
}

// TODO: 亮主题公共样式
html[data-theme='light'],
html:not(html[data-theme='dark']) {
	--#{$namespace}-box-shadow: -2px -2px 4px 0 var(--#{$namespace}-white-color), 2px 2px 4px 0 var(--#{$namespace}-black-color-50);
	--#{$namespace}-box-shadow-hover: -2px -2px 4px 2px var(--#{$namespace}-white-color), 2px 2px 4px 2px var(--#{$namespace}-black-color-50);
	@for $i from 1 to 10 {
		--#{$namespace}-gray-color-#{$i * 10}: var(--#{$namespace}-black-color-#{$i * 10});
	}
}

// TODO: 暗主题公共样式
html[data-theme='dark'] {
	--#{$namespace}-box-shadow: -2px -2px 4px 0 var(--#{$namespace}-white-color-10), 2px 2px 4px 0 var(--#{$namespace}-black-color-80);
	--#{$namespace}-box-shadow-hover: -2px -2px 4px 1px var(--#{$namespace}-white-color-20), 2px 2px 4px 2px var(--#{$namespace}-black-color-90);
	@for $i from 1 to 10 {
		--#{$namespace}-gray-color-#{$i * 10}: var(--#{$namespace}-white-color-#{$i * 10});
	}
}

// TODO: 全局公共样式

// 阴影
.#{$namespace}-box-shadow::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: box-shadow 0.3s;
	box-shadow: var(--#{$namespace}-box-shadow);
	z-index: -1;
}
.#{$namespace}-box-shadow:not([class*='loading']):not([class*='disabled']):hover {
	&::after {
		box-shadow: var(--#{$namespace}-box-shadow-hover);
	}
}

// 禁用状态 添加遮罩
.#{$namespace}-disabled-mask::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--#{$namespace}-gray-color-60);
	opacity: 0.2;
	cursor: not-allowed;
	z-index: 1;
}
