:root {
    --red: #c21533;
    --green: #00b66a;
    --blue: #007fff;
    --blue-1: #00b4ff;
    --yellow: #f79600;
    --gray: #eceff2;
    --black: #181818;
    --white: #ffffff;
    --dark: #22272e;
}

// 👻 Me Sass Color

$black: #181818;
$white: #ffffff;
$dark: #22272e;

$red-base: #c21533;
$red-1: mix($red-base, $white, 10%);
$red-2: mix($red-base, $white, 20%);
$red-3: mix($red-base, $white, 30%);
$red-4: mix($red-base, $white, 40%);
$red-5: mix($red-base, $white, 50%);
$red-6: mix($red-base, $white, 60%);
$red-7: mix($red-base, $white, 70%);
$red-8: mix($red-base, $white, 80%);
$red-9: mix($red-base, $white, 90%);
$red-10: mix($red-base, $white, 100%);
$green-base: #00b66a;
$blue-base: #007fff;
$yellow-base: #f79600;
$gray-base: #eceff2;