// 👻 Me Sass Color

$primary-color: #007fff;
$secondary-color: #00ddff;
$red-base: #c21533;
$green-base: #00b66a;
$blue-base: #007fff;
$yellow-base: #f79600;
$gray-base: #eceff2;
$black: #22272e;
$white: #ffffff;

$light: #ffffff;
$dark: #22272e;
$theme: $dark;
body{
	background-color: $theme;
}