// 👻 Me Sass Color

$primary-color: #007fff;
$secondary-color: #00ddff;
$danger-color: #c21533;
$success-color: #00b66a;
$warning-color: #f79600;
$info-color: #eceff2;
$black-color: #000000;
$white-color: #ffffff;
$font-dark-color: #3c3e42;
$font-light-color: #dddee0;
$dark: #22272e;
$light: #eceff2;

$theme: $light;
$reverse-theme: if($theme ==$light, $dark, $light);
