$primary-color-90: mix($primary-color, $theme, 90%);
$primary-color-80: mix($primary-color, $theme, 80%);
$primary-color-70: mix($primary-color, $theme, 70%);
$primary-color-60: mix($primary-color, $theme, 60%);
$primary-color-50: mix($primary-color, $theme, 50%);
$primary-color-40: mix($primary-color, $theme, 40%);
$primary-color-30: mix($primary-color, $theme, 30%);
$primary-color-20: mix($primary-color, $theme, 20%);
$primary-color-10: mix($primary-color, $theme, 10%);

$secondary-color-90: mix($secondary-color, $theme, 90%);
$secondary-color-80: mix($secondary-color, $theme, 80%);
$secondary-color-70: mix($secondary-color, $theme, 70%);
$secondary-color-60: mix($secondary-color, $theme, 60%);
$secondary-color-50: mix($secondary-color, $theme, 50%);
$secondary-color-40: mix($secondary-color, $theme, 40%);
$secondary-color-30: mix($secondary-color, $theme, 30%);
$secondary-color-20: mix($secondary-color, $theme, 20%);
$secondary-color-10: mix($secondary-color, $theme, 10%);

$primary-secondary-color-90: mix($primary-color, $secondary-color, 90%);
$primary-secondary-color-80: mix($primary-color, $secondary-color, 80%);
$primary-secondary-color-70: mix($primary-color, $secondary-color, 70%);
$primary-secondary-color-60: mix($primary-color, $secondary-color, 60%);
$primary-secondary-color-50: mix($primary-color, $secondary-color, 50%);
$primary-secondary-color-40: mix($primary-color, $secondary-color, 40%);
$primary-secondary-color-30: mix($primary-color, $secondary-color, 30%);
$primary-secondary-color-20: mix($primary-color, $secondary-color, 20%);
$primary-secondary-color-10: mix($primary-color, $secondary-color, 10%);

$danger-base-90: mix($danger-base, $theme, 90%);
$danger-base-80: mix($danger-base, $theme, 80%);
$danger-base-70: mix($danger-base, $theme, 70%);
$danger-base-60: mix($danger-base, $theme, 60%);
$danger-base-50: mix($danger-base, $theme, 50%);
$danger-base-40: mix($danger-base, $theme, 40%);
$danger-base-30: mix($danger-base, $theme, 30%);
$danger-base-20: mix($danger-base, $theme, 20%);
$danger-base-10: mix($danger-base, $theme, 10%);

$success-base-90: mix($success-base, $theme, 90%);
$success-base-80: mix($success-base, $theme, 80%);
$success-base-70: mix($success-base, $theme, 70%);
$success-base-60: mix($success-base, $theme, 60%);
$success-base-50: mix($success-base, $theme, 50%);
$success-base-40: mix($success-base, $theme, 40%);
$success-base-30: mix($success-base, $theme, 30%);
$success-base-20: mix($success-base, $theme, 20%);
$success-base-10: mix($success-base, $theme, 10%);

$warning-base-90: mix($warning-base, $theme, 90%);
$warning-base-80: mix($warning-base, $theme, 80%);
$warning-base-70: mix($warning-base, $theme, 70%);
$warning-base-60: mix($warning-base, $theme, 60%);
$warning-base-50: mix($warning-base, $theme, 50%);
$warning-base-40: mix($warning-base, $theme, 40%);
$warning-base-30: mix($warning-base, $theme, 30%);
$warning-base-20: mix($warning-base, $theme, 20%);
$warning-base-10: mix($warning-base, $theme, 10%);
