$primary-color-90: mix($primary-color, $theme, 90%);
$primary-color-80: mix($primary-color, $theme, 80%);
$primary-color-70: mix($primary-color, $theme, 70%);
$primary-color-60: mix($primary-color, $theme, 60%);
$primary-color-50: mix($primary-color, $theme, 50%);
$primary-color-40: mix($primary-color, $theme, 40%);
$primary-color-30: mix($primary-color, $theme, 30%);
$primary-color-20: mix($primary-color, $theme, 20%);
$primary-color-10: mix($primary-color, $theme, 10%);

$secondary-color-90: mix($secondary-color, $theme, 90%);
$secondary-color-80: mix($secondary-color, $theme, 80%);
$secondary-color-70: mix($secondary-color, $theme, 70%);
$secondary-color-60: mix($secondary-color, $theme, 60%);
$secondary-color-50: mix($secondary-color, $theme, 50%);
$secondary-color-40: mix($secondary-color, $theme, 40%);
$secondary-color-30: mix($secondary-color, $theme, 30%);
$secondary-color-20: mix($secondary-color, $theme, 20%);
$secondary-color-10: mix($secondary-color, $theme, 10%);

$danger-color-90: mix($danger-color, $theme, 90%);
$danger-color-80: mix($danger-color, $theme, 80%);
$danger-color-70: mix($danger-color, $theme, 70%);
$danger-color-60: mix($danger-color, $theme, 60%);
$danger-color-50: mix($danger-color, $theme, 50%);
$danger-color-40: mix($danger-color, $theme, 40%);
$danger-color-30: mix($danger-color, $theme, 30%);
$danger-color-20: mix($danger-color, $theme, 20%);
$danger-color-10: mix($danger-color, $theme, 10%);

$success-color-90: mix($success-color, $theme, 90%);
$success-color-80: mix($success-color, $theme, 80%);
$success-color-70: mix($success-color, $theme, 70%);
$success-color-60: mix($success-color, $theme, 60%);
$success-color-50: mix($success-color, $theme, 50%);
$success-color-40: mix($success-color, $theme, 40%);
$success-color-30: mix($success-color, $theme, 30%);
$success-color-20: mix($success-color, $theme, 20%);
$success-color-10: mix($success-color, $theme, 10%);

$warning-color-90: mix($warning-color, $theme, 90%);
$warning-color-80: mix($warning-color, $theme, 80%);
$warning-color-70: mix($warning-color, $theme, 70%);
$warning-color-60: mix($warning-color, $theme, 60%);
$warning-color-50: mix($warning-color, $theme, 50%);
$warning-color-40: mix($warning-color, $theme, 40%);
$warning-color-30: mix($warning-color, $theme, 30%);
$warning-color-20: mix($warning-color, $theme, 20%);
$warning-color-10: mix($warning-color, $theme, 10%);

$border-color-90: mix($border-color, $theme, 90%);
$border-color-80: mix($border-color, $theme, 80%);
$border-color-70: mix($border-color, $theme, 70%);
$border-color-60: mix($border-color, $theme, 60%);
$border-color-50: mix($border-color, $theme, 50%);
$border-color-40: mix($border-color, $theme, 40%);
$border-color-30: mix($border-color, $theme, 30%);
$border-color-20: mix($border-color, $theme, 20%);
$border-color-10: mix($border-color, $theme, 10%);

// TODO: 混色

$primary-secondary-color-90: mix($primary-color, $secondary-color, 90%);
$primary-secondary-color-80: mix($primary-color, $secondary-color, 80%);
$primary-secondary-color-70: mix($primary-color, $secondary-color, 70%);
$primary-secondary-color-60: mix($primary-color, $secondary-color, 60%);
$primary-secondary-color-50: mix($primary-color, $secondary-color, 50%);
$primary-secondary-color-40: mix($primary-color, $secondary-color, 40%);
$primary-secondary-color-30: mix($primary-color, $secondary-color, 30%);
$primary-secondary-color-20: mix($primary-color, $secondary-color, 20%);
$primary-secondary-color-10: mix($primary-color, $secondary-color, 10%);

$primary-light-color-90: mix($primary-color, $light, 90%);
$primary-light-color-80: mix($primary-color, $light, 80%);
$primary-light-color-70: mix($primary-color, $light, 70%);
$primary-light-color-60: mix($primary-color, $light, 60%);
$primary-light-color-50: mix($primary-color, $light, 50%);
$primary-light-color-40: mix($primary-color, $light, 40%);
$primary-light-color-30: mix($primary-color, $light, 30%);
$primary-light-color-20: mix($primary-color, $light, 20%);
$primary-light-color-10: mix($primary-color, $light, 10%);

$primary-dark-color-90: mix($primary-color, $dark, 90%);
$primary-dark-color-80: mix($primary-color, $dark, 80%);
$primary-dark-color-70: mix($primary-color, $dark, 70%);
$primary-dark-color-60: mix($primary-color, $dark, 60%);
$primary-dark-color-50: mix($primary-color, $dark, 50%);
$primary-dark-color-40: mix($primary-color, $dark, 40%);
$primary-dark-color-30: mix($primary-color, $dark, 30%);
$primary-dark-color-20: mix($primary-color, $dark, 20%);
$primary-dark-color-10: mix($primary-color, $dark, 10%);

$info-dark-color-90: mix($info-color, $dark, 90%);
$info-dark-color-80: mix($info-color, $dark, 80%);
$info-dark-color-70: mix($info-color, $dark, 70%);
$info-dark-color-60: mix($info-color, $dark, 60%);
$info-dark-color-50: mix($info-color, $dark, 50%);
$info-dark-color-40: mix($info-color, $dark, 40%);
$info-dark-color-30: mix($info-color, $dark, 30%);
$info-dark-color-20: mix($info-color, $dark, 20%);
$info-dark-color-10: mix($info-color, $dark, 10%);

// TODO:CSS变量

:root {
	--primary-color-90: #{$primary-color-90};
	--primary-color-80: #{$primary-color-80};
	--primary-color-70: #{$primary-color-70};
	--primary-color-60: #{$primary-color-60};
	--primary-color-50: #{$primary-color-50};
	--primary-color-40: #{$primary-color-40};
	--primary-color-30: #{$primary-color-30};
	--primary-color-20: #{$primary-color-20};
	--primary-color-10: #{$primary-color-10};
	--secondary-color-90: #{$secondary-color-90};
	--secondary-color-80: #{$secondary-color-80};
	--secondary-color-70: #{$secondary-color-70};
	--secondary-color-60: #{$secondary-color-60};
	--secondary-color-50: #{$secondary-color-50};
	--secondary-color-40: #{$secondary-color-40};
	--secondary-color-30: #{$secondary-color-30};
	--secondary-color-20: #{$secondary-color-20};
	--secondary-color-10: #{$secondary-color-10};
	--danger-color-90: #{$danger-color-90};
	--danger-color-80: #{$danger-color-80};
	--danger-color-70: #{$danger-color-70};
	--danger-color-60: #{$danger-color-60};
	--danger-color-50: #{$danger-color-50};
	--danger-color-40: #{$danger-color-40};
	--danger-color-30: #{$danger-color-30};
	--danger-color-20: #{$danger-color-20};
	--danger-color-10: #{$danger-color-10};
	--success-color-90: #{$success-color-90};
	--success-color-80: #{$success-color-80};
	--success-color-70: #{$success-color-70};
	--success-color-60: #{$success-color-60};
	--success-color-50: #{$success-color-50};
	--success-color-40: #{$success-color-40};
	--success-color-30: #{$success-color-30};
	--success-color-20: #{$success-color-20};
	--success-color-10: #{$success-color-10};
	--warning-color-90: #{$warning-color-90};
	--warning-color-80: #{$warning-color-80};
	--warning-color-70: #{$warning-color-70};
	--warning-color-60: #{$warning-color-60};
	--warning-color-50: #{$warning-color-50};
	--warning-color-40: #{$warning-color-40};
	--warning-color-30: #{$warning-color-30};
	--warning-color-20: #{$warning-color-20};
	--warning-color-10: #{$warning-color-10};
	--border-color-90: #{$border-color-90};
	--border-color-80: #{$border-color-80};
	--border-color-70: #{$border-color-70};
	--border-color-60: #{$border-color-60};
	--border-color-50: #{$border-color-50};
	--border-color-40: #{$border-color-40};
	--border-color-30: #{$border-color-30};
	--border-color-20: #{$border-color-20};
	--border-color-10: #{$border-color-10};
	--primary-secondary-color-90: #{$primary-secondary-color-90};
	--primary-secondary-color-80: #{$primary-secondary-color-80};
	--primary-secondary-color-70: #{$primary-secondary-color-70};
	--primary-secondary-color-60: #{$primary-secondary-color-60};
	--primary-secondary-color-50: #{$primary-secondary-color-50};
	--primary-secondary-color-40: #{$primary-secondary-color-40};
	--primary-secondary-color-30: #{$primary-secondary-color-30};
	--primary-secondary-color-20: #{$primary-secondary-color-20};
	--primary-secondary-color-10: #{$primary-secondary-color-10};
	--primary-light-color-90: #{$primary-light-color-90};
	--primary-light-color-80: #{$primary-light-color-80};
	--primary-light-color-70: #{$primary-light-color-70};
	--primary-light-color-60: #{$primary-light-color-60};
	--primary-light-color-50: #{$primary-light-color-50};
	--primary-light-color-40: #{$primary-light-color-40};
	--primary-light-color-30: #{$primary-light-color-30};
	--primary-light-color-20: #{$primary-light-color-20};
	--primary-light-color-10: #{$primary-light-color-10};
	--primary-dark-color-90: #{$primary-dark-color-90};
	--primary-dark-color-80: #{$primary-dark-color-80};
	--primary-dark-color-70: #{$primary-dark-color-70};
	--primary-dark-color-60: #{$primary-dark-color-60};
	--primary-dark-color-50: #{$primary-dark-color-50};
	--primary-dark-color-40: #{$primary-dark-color-40};
	--primary-dark-color-30: #{$primary-dark-color-30};
	--primary-dark-color-20: #{$primary-dark-color-20};
	--primary-dark-color-10: #{$primary-dark-color-10};
	--info-dark-color-90: #{$info-dark-color-90};
	--info-dark-color-80: #{$info-dark-color-80};
	--info-dark-color-70: #{$info-dark-color-70};
	--info-dark-color-60: #{$info-dark-color-60};
	--info-dark-color-50: #{$info-dark-color-50};
	--info-dark-color-40: #{$info-dark-color-40};
	--info-dark-color-30: #{$info-dark-color-30};
	--info-dark-color-20: #{$info-dark-color-20};
	--info-dark-color-10: #{$info-dark-color-10};
}
